* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: var(--color2);
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  margin: 5px;
  font-weight: 600;
  font-size: 40px;
}

hr {
  height: 20px;
}

.align-start {
  text-align: start;
}

label {
  margin-bottom: 10px;
}

form {
  background-color: var(--color1);
  margin: 30px auto;
  padding: 30px 10px;
}

button {
  background-color: var(--color4);
  padding: 10px 16px;
  margin: 10px 10px;
  color: var(--color1);
  font-weight: 500;
  border-radius: var(--border-radius1);
  font-size: 17px;
}

.white-button {
  background-color: var(--color1);
  color: var(--color4);
  text-decoration: underline;
}

.text-button {
  background-color: rgba(255, 255, 255, 0);
  color: var(--color2);
}

.large-button {
  width: 260px;
}

input {
  background-color: var(--color1);
  min-width: 400px;
  padding: 8px 10px;
  margin: 3px;
  color: var(--color2);
  border: 1px var(--color3) solid;
  border-radius: var(--border-radius1);
  font-size: 16px;
}

input::placeholder {
  color: var(--color3)
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.App > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}
