* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: var(--color2);
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 60px;
}

h1 {
  font-weight: 600;
  font-size: 40px;
}

.title {
  margin: 40px 0;
}

hr {
  height: 20px;
}

.align-start {
  text-align: start;
}

button {
  background-color: var(--color4);
  padding: 10px 16px;
  margin: 10px 10px;
  color: var(--color1);
  font-weight: 500;
  border-radius: var(--border-radius1);
  font-size: 17px;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  background-color: var(--color3);
  cursor: default;
}

.white-button {
  background-color: var(--color1);
  color: var(--color4);
  text-decoration: underline;
}

.text-button {
  background-color: rgba(255, 255, 255, 0);
  color: var(--color2);
}

.large-button {
  width: 260px;
}

input, select {
  background-color: var(--color1);
  padding: 8px 10px;
  margin: 3px;
  color: var(--color2);
  border: 1px var(--color3) solid;
  border-radius: var(--border-radius1);
  font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.large-input {
  min-width: 400px;
}

input::placeholder {
  color: var(--color3)
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-register-container {
  margin: 60px 20px;
}

.hr-vertical {
  border-right: 1px var(--color3) solid;
  width: 0;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}
